body{
     background:springgreen;
}
h1{
    background: rgb(9, 212, 178);color:gold;text-align: center;border-radius: 5px;margin: 10px 10px;font-weight: bolder;

}
#form{
    background-color: springgreen;text-align: center;padding: 5px;margin: 10px 10px;
}


label{
    font-size: large;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;
}


#warn{
    background-color: red;color:white;border-radius: 5px;
}
#eng{
    display: none;
}
footer{ 
    background: white;color: silver;text-align: center;margin: 3px 10px;border-radius: 5px;
}
